*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:rgb(49, 48, 45);
    
}
.clock{
    width: 30rem;
    height: 30rem;
    border: 20px solid black;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
    0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px black,
    0 0 10px rgba(0,0,0,0.2);
}

.clockface{
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
   
}
.circle{
    width: 20%;
    background-color: black;
    height: px;
}
.hand{
    width: 50%;
    height:6px;
    background: black;
    position: absolute;
    top: 56%;
    transform-origin: 100%;
    transform:rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: ease-in-out;
}
.handhour-hand{
    width: 35%;
    height:6px;
    background: black;
    position: absolute;
    top: 49%;
    left: 12%;
    transform-origin: 125%;
    transform:rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: ease-in-o
}
.handsecond-hand{
    width: 45%;
    height:3px;
    background: black;
    position: absolute;
    top: 56%;
    left: 5%;
    transform-origin: 100%;
    transform:rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: ease-in-out;
}


.numbers{
    font-size: 70px;
    box-sizing: border-box;
    color: rgb(177, 68, 68);
  
    height: 500px;
    width: 130%;
   padding: 3px;
   position: absolute;
   z-index: 1;
    
  
}
.number-12{
    margin: -40px auto auto 160px;
}
.number-11{
    margin-top: -45px;
    margin-left: 55px;
}
.number-10{
    margin-top:10px;
    margin-left: -10px;
}.number-9{
    margin-top: 10px;
    margin-left:-8px;
}.number-8{
    margin-top: 10px;
    margin-left:20px;
}.number-7{
    margin-top: -20px;
    margin-left: 90px;
}.number-6{
    margin-top: -65px;
    margin-left: 185px;
}.number-5{
    margin-top: -115px;
    margin-left: 280px;
}
.number-4{
margin-top: -145px;
margin-left: 340px;
}
.number-3
{
    margin-top: -163px;
    margin-left:360px;

}

.number-2{
    margin-top: -160px;
    margin-left: 350px;

}
.number-1{
    margin-top:-160px;
    margin-left:290px;

}


